@model SNAPME.Tokens.Admin.SellerToken

@{
    ViewBag.Title = "Edit " + Model.name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>
        <span>@Model.name</span>
        @if (!Model.has_account)
        {
            <button class="pull-right btn btn-success" onclick="createAccount('@Model.id')" id="btnCreateAccount"><i class="fa fa-lock"></i> Create account</button>
        }
        @if (!Model.is_archived)
        {
            <button class="pull-right btn btn-danger" onclick="archiveSeller('@Model.id')" id="btnArchiveAccount"><i class="fa fa-archive"></i> Archive</button>
        }
        <a class="pull-right btn btn-default" href="/Admin/Seller"><i class="fa fa-angle-left"></i> Back to list</a>&nbsp;
    </h2>
    <hr />
    @Html.HiddenFor(m => m.id, new { id = "GlobalSellerID" })
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked" id="menuSeller">
                <li><a href="#details" onclick="getContent('#content', '/Admin/Seller/Details/@Model.id', 1)"><i class="fa fa-street-view"></i><span class="hidden-xs">Details</span></a></li>
                <li><a href="#products" onclick="getContent('#content', '/Admin/Seller/Products/@Model.id', 2)"><i class="fa fa-cubes"></i><span class="hidden-xs">Products</span></a></li>
                <li><a href="#sales" onclick="getContent('#content', '/Admin/Seller/Sales/@Model.id', 3)"><i class="fa fa-gavel"></i><span class="hidden-xs">Sales</span></a></li>
                <li><a href="#accounts" onclick="getContent('#content', '/Admin/Seller/Accounts/@Model.id', 4)"><i class="fa fa-users"></i><span class="hidden-xs">Accounts</span></a></li>
            </ul>
        </div>
        <div class="col-xs-10">
            <div id="content"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlProduct" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="mdl" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

@Html.AntiForgeryToken()

@section scripts
{
    <script>
        var section = "Sellers";
    </script>
    @Scripts.Render("~/bundles/admin")
}