<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iiSnap</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/iisnap.ico">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Ami! Give me the Title" />
    <meta property="og:site_name" content="iiSnap" />
    <meta property="og:description" content="Ami! Give me the Description" />
    <meta property="og:image" content="http://www.iisnap.com/content/images/iisnap_fb_logo.png" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavbarLanding")
    @RenderBody()
    <div class="clearfix"></div>
    @Html.Partial("_FooterLanding")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        window.dns = { au: @User.Identity.IsAuthenticated.ToString().ToLower() };
    </script>
</body>
</html>
