@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/content/images/iisnap.ico">

    @RenderSection("openGraph", false)

    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,400italic,600italic,700italic,800italic" rel="stylesheet" type="text/css">

    <title>iiSnap @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
</head>
<body ng-app="iisnapApp">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <header>
        @Html.Partial("_MNav")
    </header>
    <main class="grey lighten-5">
        @RenderBody()
    </main>
    <footer>
        @Html.Partial("_MFooter")
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular-cookies.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/account.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
