@using SNAPME.Web.Core;
@model SNAPME.Tokens.SaleToken
@{
    var complete = 0;
}

<h4>@Model.product.name</h4>
<a href="/Sale/@Model.id">
    <div class="sale-image embed-responsive embed-responsive-16by9" title="Bose SoundLink Mini" style="background-image: url(https://www.bose.co.uk/GLOBAL/Images/000000000000060933_660x460.jpg); background-position: center center; background-repeat: no-repeat; background-size: contain;">&nbsp;</div>
</a>
<div class="actions">
    <button class="btn btn-snapme" data-action="price-drop" data-id="@Model.id"></button>
</div>
<div class="price-range">
    <div class="progress">
        @{
            complete = (int)Math.Floor(100F * (Model.product.retail_price - Model.current_price) / (Model.product.retail_price - Model.target_price));
        }
        <div class="progress-bar" role="progressbar" aria-valuenow="@complete" aria-valuemin="0" aria-valuemax="100" style="width: @complete%;">
            <span class="sr-only">@complete% Complete</span>
        </div>
    </div>
    <div class="side-by-side">
        <div class="retail">@Model.product.retail_price.AsPrice()</div>
        <div class="target">@Model.target_price.AsPrice()</div>
        <div class="clearfix"></div>
    </div>
    @if (Model.ended_on.HasValue)
    { 
        <div class="ended-on"><i class="fa fa-check-circle"></i>&nbsp;Purchsed on @Model.ended_on.Value.ToString("MMM dd, yyyy")</div>
    }
</div>

