@model SNAPME.Tokens.ProductToken
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_MLayout.cshtml";
    var firstImageIndex = int.MaxValue;
}

<div class="product grey lighten-4">
    <div class="container">
        <div class="row no-padding">
            <div class="col l6 s12">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" data-action="favor-product" data-id="@Model.id" title="Add to favorites" class="ovr ovr-favorite @(Model.UserPreferences.favors ? "active" : string.Empty)"><i class="fa fa-heart"></i></a>
                    <a href="#" data-action="like-product" data-id="@Model.id" title="Like" class="ovr ovr-like @(Model.UserPreferences.likes ? "active" : string.Empty)"><i class="fa fa-thumbs-o-up"></i></a>
                }
                @if (Model.Sale != null)
                {
                    <div class="drops-counter">@Model.Sale.drops.Count() Drops</div>
                }
                <div class="images" style="overflow: hidden;">
                    @for (int i = 0; i < Model.images.Length; i++)
                    {
                        if (!string.IsNullOrEmpty(Model.images[i]))
                        {
                            firstImageIndex = Math.Min(firstImageIndex, i);
                            <div style="background: url(/Image/@Model.id/@i) no-repeat 50% 50%; background-size: cover;" class="hide"></div>
                        }
                    }
                </div>
            </div>
            <div class="col l6 s12">
                <nav>
                    <ul id="dd-share" class="dropdown-content">
                        <li><a href="#!" class="center-align"><i class="ti-facebook"></i></a></li>
                        <li><a href="#!" class="center-align"><i class="ti-twitter"></i></a></li>
                        <li><a href="#!" class="center-align"><i class="ti-google"></i></a></li>
                        <li><a href="#!" class="center-align"><i class="ti-pinterest"></i></a></li>
                    </ul>
                    <div class="nav-wrapper">
                        <a class="page-title">@Model.name</a>
                        <ul class="right">
                            <li><a href="#!" title="Share" class="dropdown-button" data-activates="dd-share"><i class="ti-sharethis"></i></a></li>
                            <li><a href="#mdl-points" class="modal-trigger" title="Snap Points"><i class="ti-medall-alt"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="sale-container">
                    <div class="center-align short-description">
                        @Model.short_descritpion
                    </div>
                    @if (Model.Sale != null)
                    {
                        <div class="price-range">
                            <div class="pull-left">@Model.retail_price.ToString("C")</div>
                            <div class="pull-right"><i class="fa fa-flag-checkered"></i></div>
                            <div class="progress grey lighten-1">
                                <div class="determinate yellow darken-1" style="width: @string.Format("{0}%", Model.Sale.progress);"></div>
                            </div>
                        </div>
                        <div class="sale-actions">
                            <div class="current-price left">@(Model.Sale.current_price.ToString("C"))</div>
                            <div class="action right">
                                <a class="waves-effectwaves-ligth btn green darken-2">Join Sale</a>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="potential-points left">
                                Collect: +@Model.Sale.potential_points
                            </div>
                            <div class="invite-friends right"></div>
                        </div>
                        <div class="time-left grey darken-1">
                            @{
                        var v = Model.Sale.ends_on - DateTime.UtcNow;
                        @((new TimeSpan(v.Hours, v.Minutes, v.Seconds)).ToString("c"))
                            }
                        </div>
                    }
                    else
                    {
                        <div class="time-left grey darken-1">
                            No active sale
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdl-points" class="modal">
    <div class="modal-content">
        <h4>Snap Points for this sale</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var w = $('.product .images').width();
        var h = w / 16 * 9;
        $('.product .images > div').css('height', h + 'px').css('width', w + 'px').removeClass('hide');
        $('.product .images').bxSlider({
            slideWidth: $('.product .images').width(),
            minSlides: 1,
            maxSlides: 1,
            slideMargin: 0
        });

        var h = $('.product .bx-wrapper').height() - 68;
        $('.sale-container').height(h + 'px');
        @if (Model.Sale != null)
        {
        @:$('.sale-container .short-description').toggleClass('hide', h < 240);
                        }
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                in_duration: 300, // Transition in duration
                out_duration: 200, // Transition out duration
            });
        });

        //$('.social-feed').scrollator();
        //function prependListItem(listName, listItemHTML) {
        //    $(listItemHTML)
        //        .hide()
        //        .css('opacity', 0.0)
        //        .prependTo('#' + listName)
        //        .slideDown('slow')
        //        .animate({ opacity: 1.0 })
        //}
    </script>
}