@model SNAPME.Tokens.ProductToken
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

@section openGraph{
    <meta name="twitter:title" content="iiSnap - @Model.name">
    <meta name="twitter:description" content="@Model.short_description">
    <meta name="twitter:image" content="http://www.iisnap.com/image/@Model.id/0">
    <meta property="og:title" content="iiSnap - @Model.name">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://@Request.Url.DnsSafeHost/@Request.Url.AbsolutePath">
    <meta property="og:description" content="@Model.short_description">
    <meta property="og:image" content="http://www.iisnap.com/image/@Model.id/0">
}

<div ng-app="iisnapApp" ng-controller="saleController" ng-init="init('@Model.id')">
    <div>
        <div>
            <div class="progress top" ng-show="loading">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="container sale" ng-hide="loading" ng-cloak>
            <div class="row">
                <div class="col l5">
                    <div class="slider" ng-cloak>
                        <ul class="slides">
                            <li ng-repeat="idx in product.image_indexes">
                                <img src="/image/{{product.id}}/{{idx}}" class="materialboxed" data-idx="{{idx}}" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l7" ng-cloak>
                    <div class="product-box">
                        <div class="title">
                            <ul class="share-buttons">
                                <li><a class="btn btn-floating btn-facebook" ng-click="inviteFriends('facebook')"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a class="btn btn-floating btn-google-plus" ng-click="inviteFriends('google')"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="btn btn-floating btn-twitter" ng-click="inviteFriends('twitter')"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="btn btn-floating btn-pinterest" ng-click="inviteFriends('pinterest')"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                            {{product.name}}
                        </div>
                        <div class="sub-title">{{product.short_description}}</div>
                        <div class="product-price" ng-show="product.sale != null">
                            <div class="start left">${{Math.floor(product.sale.retail_price)}}.<span>{{product.sale.retail_price.toFixed(2).toString().substr(-2)}}</span></div>
                            <div class="end right">${{Math.floor(product.sale.target)}}.<span>{{product.sale.target.toFixed(2).toString().substr(-2)}}</span></div>
                            <div class="range">
                                <i class="fa fa-flag-checkered right"></i>
                                <div class="progress grey lighten-2">
                                    <div class="determinate amber lighten-1" style="width: {{product.sale.progress}}%;"></div>
                                </div>
                                <div class="indicator" style="left: {{product.sale.progress}}%"><i class="material-icons">location_on</i></div>
                                <div class="drops-counter amber lighten-1" style="left:{{Math.min(92, Math.max(6, product.sale.progress - 1))}}%">{{product.sale.drops}} Snaps</div>
                                <div class="current-price grey darken-4" style="left:{{Math.min(92, Math.max(6, product.sale.progress - 1))}}%">${{Math.floor(product.sale.price)}}.{{product.sale.price.toFixed(2).toString().substr(-2)}}</div>
                            </div>
                            <div class="sale-actions" ng-show="product.sale.price > product.sale.target">
                                <div class="potential-points tooltipped" data-position="bottom" data-delay="50" data-tooltip="Upon successful checkout your account will be credited with the earned Snap Points.">Collect {{product.sale.points}}</div>
                                <button type="button" class="waves-effect waves-light btn-large join" ng-click="joinSale()">Join Sale</button><!-- ng-disabled="product.sale.joined"-->
                            </div>
                            <div class="sale-timer" ng-show="product.sale != null">
                                <div class="time-left">
                                    <i class="material-icons left">av_timer</i> Sale ends in {{product.sale.ends_in}}
                                </div>
                            </div>
                        </div>
                        <div class="no-active-sale" ng-show="product.sale == null && !loading" ng-cloak>
                            Currently, this item is not on sale. <br />Want to know when it goes on sale?
                            <div>
                                <button type="button" class="btn waves-effect yellow">Let me know</button>
                            </div>
                        </div>
                        @*<div class="left" ng-show="product.sale != null">
                                <div class="time-left">
                                    <i class="material-icons left">av_timer</i> Sale ends in {{product.sale.ends_in}}
                                </div>
                            </div>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row" ng-show="product.name || false">
                <div class="col l8">
                    <div class="product-box description">
                        <div class="section-header">
                            <a class="comments-link right">Comments<span class="right">{{product.comments.length}}</span></a>
                            {{product.name}}
                        </div>
                        <p ng-bind-html="product.description" style="white-space: pre-wrap"></p>

                        <ul class="share-buttons">
                            <li><a class="btn btn-floating btn-facebook" ng-click="inviteFriends('facebook')"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a class="btn btn-floating btn-google-plus" ng-click="inviteFriends('google')"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="btn btn-floating btn-twitter" ng-click="inviteFriends('twitter')"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="btn btn-floating btn-pinterest" ng-click="inviteFriends('pinterest')"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col l4">
                    <div class="product-box">
                        <div class="section-header">Activity</div>
                        <div>
                            <ul class="social-activity">
                                <li>
                                    <div class="row">
                                        <div class="col s3">
                                            <img src="http://graph.facebook.com/10152299152237123/picture?type=square" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                        </div>
                                        <div class="col s9">
                                            <span class="black-text">
                                                Michael joined the sale.<br />
                                                6 hours ago
                                            </span>
                                        </div>
                                        <div class="col s12 clearfix price-drop">
                                            <div>
                                                <i class="material-icons left">file_download</i>
                                                Price dropped to: <span class="right new-price">$ 99.99</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col s3">
                                            <img src="http://graph.facebook.com/10152686035091417/picture?type=square" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                        </div>
                                        <div class="col s9">
                                            <span class="black-text">
                                                Ami added a comment.<br />
                                                6 hours ago
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box iisnap-orange promo-box">
                        <h3>What are Snap Points?</h3>
                        How can I use them?
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mdlAfterJoined" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Hi {{user.name}},<br />Thank you for joining the sale!</h4>
            </div>
            <div class="center-align">
                <div class="row">
                    <div class="col s12 double-line">
                        You have just dropped the price of the {{product.name}} to <strong>$ {{product.sale.price.toFixed(2).toLocaleString()}}</strong>.<br />
                        Don't stop here! Let's keep the price dropping!<br />
                        <h3 class="call-to-action">Invite your friends to join this sale!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="button" class="btn btn-large waves-effect waves-light btn-facebook" ng-click="inviteFriends('facebook')"><i class="fa fa-facebook"></i></button>
                        <button type="button" class="btn btn-large waves-effect waves-light btn-google-plus" ng-click="inviteFriends('google')"><i class="fa fa-google-plus"></i></button>
                        <button type="button" class="btn btn-large waves-effect waves-light btn-twitter" ng-click="inviteFriends('twitter')"><i class="fa fa-twitter"></i></button>
                        <button type="button" class="btn btn-large waves-effect waves-light btn-pinterest" ng-click="inviteFriends('pinterest')"><i class="fa fa-pinterest"></i></button>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col s12">
                        Consider setting up your Payment Details for faster checkout.<br />You will not be charged unless the price reaches the target price!
                        <p><button type="button" class="btn waves-effect waves-light iisnap-orange">Setup Payment Details</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
</div>

<div id="mdlComment" class="modal" ng-app="iisnapApp" ng-controller="commentController" ng-init="init('@Model.id')">
    <div class="modal-content">
        <h4>Leave a comment</h4>
        <p>
            <div class="rating"></div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Leave your comment" id="comment" rows="5" class="validate materialize-textarea"></textarea>
                </div>
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-red btn-flat" ng-click="cancelComment()">Cancel</a>
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="postComment()">Post</a>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.star.rating.js"></script>
    <script src="~/Scripts/product.js"></script>
}
