<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>iiSnap - Administration</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/iisnap.ico">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/admin_css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Facebook")
    @Html.Partial("_Navbar")
    @RenderBody()
    <div class="clearfix"></div>
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
