@model SNAPME.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <h3 class="text-center">Complete your @ViewBag.LoginProvider registration</h3>
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-center">
            <br />
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.<br />
            Please verify your <strong>Email</strong> and click the <strong>Register</strong> button to finish logging in.
            <br /><br />
        </p>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-default btn-lg text-uppercase" value="Register" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("footer").css("position", "absolute").css("bottom", "0").css("left", "0").css("right", "0");
        });
    </script>
}
