@model SNAPME.Web.Models.RegisterViewModel
@using SNAPME.Web.Models
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <h4 class="center-align">Register</h4>
    <div class="row">
        <div class="col m6 offset-m3">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col m6 offset-m3">
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h5 class="center-align">Or create your Free iiSnap account</h5>
                    @Html.ValidationSummary(true)
                    <div class="input-field">
                        <i class="mdi-communication-email prefix"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "validate" })
                        @Html.LabelFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="input-field">
                        <i class="mdi-action-https prefix"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="input-field">
                        <i class="mdi-action-https prefix"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="input-field">
                        <div class="col s12 center-align">
                            <button type="submit" class="waves-effect waves-light btn yellow accent-4">Register</button>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

