@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    ViewBag.Title = "Home";
    int complete = 0;
}

@*<div class="top-banner">
    <div class="container">
        <h2 class="text-center">How To Pay Less Shopping Online</h2>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="sub-title">SnapMe is a social shopping site that lets you drop the price of a product by sharing with your friends. Whatch the video to learn how...</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h4 class="ribbon"><div>How Does SnapMe Work?</div></h4>
                <div class="video-frame">
                    <div class="video embed-responsive embed-responsive-16by9"></div>
                </div>
                <div class="register">
                    <button class="btn btn-block btn-lg btn-snapme"><i class="pull-left ti ti-plus"></i>Register</button>
                </div>
            </div>
            <div class="col-md-6 hidden-xs hidden-sm text-center">
                <img src="~/Content/Images/top-banner-hand.png" />
            </div>
        </div>
    </div>
</div>
<div class="home-promote">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-left">Ending Soon</h2>
                <div class="sale ending-soon-sale">
                    <div class="time-to-end"><i class="ti ti-timer"></i>@Model.EndingSoon.ends_on.AsTimeToEnd()</div>
                    <a href="/Sale/@Model.EndingSoon.id">
                        <div class="sale-image embed-responsive embed-responsive-16by9" title="Bose SoundLink Mini" data-open="Product" style="background-image: url(https://www.bose.co.uk/GLOBAL/Images/000000000000060933_660x460.jpg); background-position: center center; background-repeat: no-repeat; background-size: contain;">&nbsp;</div>
                    </a>
                    <div class="price-range">
                        <div class="price-bubble price-bubble-left pull-left">@Model.EndingSoon.product.retail_price.AsPrice()</div>
                        <div class="price-bubble price-bubble-right pull-right">@Model.EndingSoon.target_price.AsPrice()</div>
                        <div class="clearfix"></div>
                        <div class="progress">
                            @{
                                complete = (int)Math.Floor(100F * (Model.EndingSoon.product.retail_price - Model.EndingSoon.current_price) / (Model.EndingSoon.product.retail_price - Model.EndingSoon.target_price));
                            }
                            <div class="progress-bar" role="progressbar" aria-valuenow="@complete" aria-valuemin="0" aria-valuemax="100" style="width: @complete%;">
                                <span class="sr-only">@complete% Complete</span>
                            </div>
                            <div class="progress-indicator" style="left: 60%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center current-price">
                                <div>Current Price</div>
                                <div class="price">@Model.EndingSoon.current_price.AsPrice()</div>
                            </div>
                            <div class="col-md-6 action">
                                <button type="button" data-action="price-drop" data-id="@Model.EndingSoon.id" class="btn btn-block bln-lg btn-snapme">Drop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-left">Featured</h2>
                <div class="row">
                    @foreach (var item in Model.Featured)
                    {
                        <div class="col-md-6 sale featured-sale">
                            @Html.Partial("_TinyProduct", item)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="active-sales">
    <div class="text-center">
        <div class="category-filter">
            <h2>Snaps</h2>
            <div class="text-center categories-list">
                <ul class="nav nav-pills">
                    <li data-id="0" role="presentation" class="active"><a href="#">All</a></li>
                    @foreach (var item in Model.Categories)
                    {
                        <li role="presentation" data-id="@item.id"><a href="#">@item.name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="sales">
        @foreach (var item in Model.Categories)
        {
            <div class="category" data-id="@item.id">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="category-name">@item.name</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="category-slider">
                            @foreach (var sale in item.sales)
                            {
                                <div class="sale">
                                    <h4>@sale.product.name</h4>
                                    <div class="box text-center">
                                        <a href="/Sale/@sale.id">
                                            <div class="sale-image embed-responsive embed-responsive-16by9" title="Bose SoundLink Mini" style="background-image: url(https://www.bose.co.uk/GLOBAL/Images/000000000000060933_660x460.jpg); background-position: center center; background-repeat: no-repeat; background-size: contain;">&nbsp;</div>
                                        </a>
                                        <div class="price-range">
                                            <div class="price-bubble price-bubble-left pull-left">@sale.product.retail_price.AsPrice()</div>
                                            <div class="price-bubble price-bubble-right pull-right">@sale.target_price.AsPrice()</div>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                @{
                                                    complete = (int)Math.Floor(100F * (sale.product.retail_price - sale.current_price) / (sale.product.retail_price - sale.target_price));
                                                }
                                                <div class="progress-bar" role="progressbar" aria-valuenow="@complete" aria-valuemin="0" aria-valuemax="100" style="width: @complete%;">
                                                    <span class="sr-only">@complete% Complete</span>
                                                </div>
                                                <div class="progress-indicator" style="left: 60%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="current-price">@sale.current_price.AsPrice()</div>
                                        <div class="actions">
                                            <button type="button" data-action="price-drop" data-id="@sale.id" class="btn btn-block bln-lg btn-snapme">Drop The Price</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var sliders = [];
        $(function () {
            setActiveMenu("mnuHome");
            buildSliders();
            $(window).on("resize", function () {
                setTimeout(buildSliders, 200);
            });
            $(".categories-list a").on("click", function (event) {
                $(".categories-list li").toggleClass("active", false);
                $(this).parent().toggleClass("active", true);
                event.preventDefault();
                // Show only relevant section
                var id = $(this).parent().data("id");
                $(".sales .category").each(function (i, item) {
                    if ($(item).data("id") !== id) {
                        $(item).hide("fast");
                    } else { $(item).show("fast"); }
                });
            });
        });

        function buildSliders() {
            $.each(sliders, function (i, item) { item.destroySlider() });
            sliders = [];
            $(".category-slider").each(function (i, item) {
                sliders.push($(item).bxSlider({
                    slideWidth: $(".sales").width() / 3,
                    minSlides: 1,
                    maxSlides: 3,
                    slideMargin: 0
                }))
            });
        }
    </script>
}*@
